@charset 'UTF-8';
@import '../utility/*';

.page404 {

  &__content {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 180px;

    &--desc {
      line-height: 2.3;
      margin-bottom: 40px;
    }
    .cmn_btn {
      margin: 0 auto;
    }
  }
  @include max-screen(767px) {

    &__content {
      padding-top: 65px;
      padding-bottom: 90px;

      &--desc {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 25px;
      }
    }
  }
}
