@charset 'UTF-8';
@import "../utility/*";

.case {

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px 0;
    margin-bottom: 100px;

    &::before,&::after {
      content: "";
      display: block;
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      background: #f3f4f6;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    &--left,&--right {
      position: relative;
      z-index: 2;
    }
    &--left {
      width: calc(100% - 230px);
      padding-right: 67px;
    }
    &--right {
      width: 230px;
      border: 1px solid $blue;
      background: #fff;
      text-align: center;

      .title {
        background: $blue;
        color: #fff;
        padding: 59px 0 68px;

        span {
          display: block;
          @include din_alter;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 3.6px;
          margin-bottom: 2px;
        }
        p {
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 1.5px;
        }
      }
      .lst_cat {
        padding: 0 14px;

        li {
          border-bottom: 1px solid $blue;

          &:last-child {
            border-bottom: 0;
          }
          a {
            display: block;
            color: $blue;
            font-weight: bold;
            font-size: 14px;
            padding: 25px 0 24px;
            letter-spacing: 0.6px;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 7px;
              height: 13px;
              background: url(../../img/common/icon/ico_ar_right_square_blue.svg) no-repeat top left;
              background-size: 100% 100%;
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -7px;
            }
          }
        }
      }
    }
  }
  @include screen(768px,1023px) {

    &__content {

      &--left {
        padding-right: 30px !important;
        width: calc(100% - 200px);
      }
      &--right {
        width: 200px;
      }
    }
  }
  @include max-screen(767px) {

    &__content {
      padding: 40px 20px;
      margin-bottom: 40px;

      &--left,&--right {
        width: 100%;
        padding: 0;
      }
      &--left {
        margin-bottom: 40px;
      }
      &--right {

        .title {
          padding: 19px 0 13px;

          span {
            margin-bottom: 1px;
          }
          p {
            font-size: 20px;
            letter-spacing: 2px;
          }
        }
        .lst_cat {
          padding: 0;

          li {

            a {
              padding: 14px 0 17px;

              &::before {
                width: 10px;
                height: 18px;
                margin-top: -9px;
                right: 18px;
              }
            }
          }
        }
      }
    }
  }
  @include max-screen(374px) {

    &__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.case_archive {

  &__intro {
    text-align: center;
    margin: 99px 0 91px;

    &--title {
      position: relative;
      font-weight: bold;
      color: $blue;
      font-size: 26px;
      padding-top: 42px;
      letter-spacing: 5.2px;
      margin-bottom: 17px;

      &::before {
        content: "";
        display: block;
        width: 30px;
        height: 28px;
        background: url(../../img/common/icon/ico_company_color.svg) no-repeat top left;
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    &--desc {
      line-height: 2.15;
      letter-spacing: 0.8px;
    }
  }
  &__list {
    margin: 0 -25px -2px;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      padding: 0 25px;
      margin-bottom: 50px;

      a {
        display: block;
        height: 100%;
      }
      .content {
        background: #fff;
        height: 100%;
        position: relative;

        > span {
          display: block;
          position: absolute;
          top: 0;
          color: #fff;
          z-index: 2;
          height: 30px;
          text-align: center;
          font-size: 14px;
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 8px 5px 0;

          &.new {
            left: 0;
            width: 80px;
            background: $green;
            text-transform: uppercase;
          }
          &.cat {
            width: 120px;
            left: 80px;
            background: $blue;

            &.no_new {
              left: 0;
            }
          }
        }
        .img {
          z-index: 1;
          @include aspect-ratio(400,280);
          background: #ddd;

          .thumb {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .txt {
          padding: 19px 28px 16px;
        }
        .title {
          font-size: 20px;
          font-weight: bold;
        }
        .desc {
          margin-top: 5px;
          line-height: 1.5;
        }
      }
    }
  }
  .btn_loadmore {
    display: block;
    margin: 0 auto;
    max-width: 191px;
    height: 41px;
    border: 1px solid $blue;
    background: #fff;
    @include border-radius(4px);
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    color: $blue;
    padding-top: 13px;
    letter-spacing: 2.8px;
  }
  @include screen(768px,1023px) {

    &__list {
      margin-left: -10px;
      margin-right: -10px;

      li {
        padding: 0 10px;

        .content .txt {
          padding-left: 15px;
          padding-right: 15px;

          .title {
            font-size: 16px;
          }
          .desc {
            font-size: 14px;
          }
        }
      }
    }
  }
  @include max-screen(767px) {

    &__intro {
      margin: 28px 0 15px;

      &--title {
        font-size: 18px;
        padding-top: 46px;
        letter-spacing: 1.8px;
        line-height: 1.5;
        margin-bottom: 12px;

        &::before {
          height: 30px;
        }
      }
      &--desc {
        text-align: left;
        font-size: 14px;
        padding: 0 5px 0 7px;
        line-height: 1.5;
        letter-spacing: 0;
      }
    }
    &__list {
      margin-bottom: -4px;

      li {
        width: 100%;
        margin-bottom: 44px;

        .content {

          > span {
            height: 28px;
            padding-top: 6px;

            &.now {
              width: 75px;
            }
            &.cat {
              left: 75px;
              width: 112px;
            }
          }
          .txt {
            padding: 15px 10px 12px;
          }
          .title {

          }
          .desc {
            font-size: 14px;
            line-height: 1.65;
          }
        }
      }
    }
    .btn_loadmore {
      max-width: 178px;
      height: 39px;
      letter-spacing: 3px;
      padding-top: 11px;
    }
  }
  @include max-screen(374px) {

    &__intro--title {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

.case_detail {

  .case__content {
    max-width: 1100px;

    &--left {
      padding-right: 119px;
    }
  }
  &__intro {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0 15px;
    margin: 72px 0 73px;
    line-height: 1.5;
  }
  &__img {
    display: block;
    margin-bottom: 33px;
  }
  &__title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 11px;
  }
  &__points {
    margin-bottom: 32px;

    li {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      margin-bottom: 19px;

      &:last-child {
        margin-bottom: 0;
      }
      span {
        display: block;
        width: 121px;
        height: 31px;
        line-height: 1;
        color: $blue;
        border: 1px solid $blue;
        font-weight: bold;
        text-align: center;
        padding-top: 8px;
      }
      p {
        width: calc(100% - 121px);
        padding: 5px 0 0 16px;
      }
    }
  }
  &__desc {
    max-width: 695px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.3px;
  }
  &__customer {
    margin: 114px 0 99px;

    &--title {
      height: 80px;
      font-size: 22px;
      color: #fff;
      background: $blue;
      line-height: 1;
      font-weight: bold;
      text-align: center;
      padding-top: 29px;
      margin-bottom: 55px;
    }
    &--subtitle {
      font-weight: bold;
      font-size: 26px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      margin-bottom: 25px;
    }
    &--per {
      font-weight: bold;
      letter-spacing: 0.4px;
      margin-bottom: 46px;
    }
    &--ct {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      // img {
      //   width: 40%;
      // }
      .txt {
        // width: 60%;
        font-size: 14px;
        // padding-left: 30px;
        position: relative;
        top: -5px;
        line-height: 1.8;
        letter-spacing: 0.3px;
      }
    }
  }
  &__part {
    text-align: center;
    @include border-radius(10px);
    border: 1px solid $colortext;
    overflow: hidden;
    background: #fff;

    &--title {
      font-weight: bold;
      color: #fff;
      padding: 16px 15px;
      font-size: 18px;
    }
    &--content {
      background: #fff;
      padding: 45px 15px 43px;

      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.45;
        margin-bottom: 23px;
      }
      p {
        font-size: 14px;
        max-width: 600px;
        margin: 0 auto;
        letter-spacing: 0.3px;
      }
    }
    &.p_green {
      border-color: $green;
      background: $green;
      margin-bottom: 99px;

      .case_detail__part--content .title {
        color: $green;
      }
    }
    &.p_red {
      border-color: #ce141c;
      background: #ce141c;

      .case_detail__part--content .title {
        color: #ce141c;
      }
    }
  }
  @include max-screen(767px) {

    .case__content--left {
      padding: 0;
    }
    &__intro {
      font-size: 18px;
      margin: 34px 0;
      padding: 0;
      letter-spacing: 0.8px;
    }
    &__img {
      margin-bottom: 19px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 14px;
    }
    &__points {
      margin-bottom: 25px;

      li {
        align-items: center;
        margin-bottom: 14px;

        span {
          width: 102px;
          height: 29px;
          padding-top: 6px;
        }
        p {
          width: calc(100% - 102px);
          padding: 0 0 0 9px;
          line-height: 1.45;
          letter-spacing: 0.4px;

          a {
            letter-spacing: 0;
          }
        }
      }
    }
    &__customer {
      margin: 26px 0 38px;

      &--title {
        font-size: 20px;
        height: 50px;
        padding-top: 13px;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      &--subtitle {
        font-size: 20px;
        margin-bottom: 13px;
      }
      &--per {
        margin-bottom: 16px;
      }
      &--ct {

        img,.txt {
          width: 100%;
          padding: 0;
        }
        .txt {
          top: 0;
          // margin-top: 16px;
          line-height: 1.75;
          letter-spacing: 0.35px;
        }
      }
    }
    &__part {
      margin: 0 -20px;
      @include border-radius(5px);

      &.p_green {
        margin-bottom: 29px;
      }
      &--title {
        padding: 26px 15px;
        font-size: 16px;
        letter-spacing: 0.2px;
      }
      &--content {
        padding: 12px 20px 14px;

        .title {
          font-size: 20px;
          line-height: 1.5;
          margin-bottom: 12px;
        }
        p {
          text-align: left;
          line-height: 1.75;
          letter-spacing: 0;
        }
      }
    }
  }
  @include max-screen(374px) {

    &__part {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
