@charset 'UTF-8';
@import "../utility/*";

.company {
    .inner {
        width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
        @include max-screen(767px) {
            width: 100%;
        }
    }
    &__content {

      p {
          font-size: 14px;
          @include max-screen(767px) {
              font-size: 15px;
              letter-spacing: -0.5px;
          }
      }
    }
    .content01 {
        margin: 110px 0 100px;
        @include max-screen(767px) {
            margin: 35px 0 50px;
        }
        &__content {
            text-align: center;
            @include max-screen(767px) {
                padding: 0 20px;
            }
            h4 {
                font-size: 26px;
                font-weight: bold;
                letter-spacing: 3px;
                @include max-screen(767px) {
                    font-size: 18px;
                    letter-spacing: 2px;
                }
            }
            p {
                line-height: 34px;
                margin-top: 45px;
                @include max-screen(767px) {
                    text-align: left;
                    line-height: 23px;
                    margin-top: 22px;
                }
            }
        }
    }
    .content02 {
        background-color: #6BBBB8;
        color: #fff;
        margin-bottom: 250px;
        @include max-screen(767px) {
            margin-bottom: 40px;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            padding: 45px 110px 0 55px;
            @include max-screen(767px) {
                display: block;
                padding: 50px 20px 30px;
            }
            &__left {
                width: 235px;
                margin-left: 20px;
            }
            &__right {
                width: 575px;
                font-size: 14px;
                @include max-screen(767px) {
                    width: 100%;
                    font-size: 18px;
                }
                .imgbox01 {
                    @include max-screen(767px) {
                        display: flex;
                        justify-content: space-between;
                        img {
                            width: 130px;
                            position: relative;
                            top: -50px;
                        }
                    }
                }
                .name {
                    span {
                        font-size: 20px;
                        font-weight: bold;
                        margin-left: 7px;
                        @include max-screen(767px) {
                            font-size: 23px;
                        }
                    }
                    margin-bottom: 30px;
                }
                p {
                    line-height: 24px;
                    text-align: justify;
                    @include max-screen(767px) {
                        line-height: 21px;
                        margin-top: -62px;
                    }
                }
            }
        }
    }
    .content03 {
        width: 1200px;
        margin: 140px auto 0;
        @include max-screen(767px) {
            margin: 0 auto;
            width: 100%;
            padding: 0 20px;
        }
        &__content {
            &__box {
                display: flex;
                margin-left: 170px;
                margin-bottom: 180px;
                @include max-screen(767px) {
                    display: block;
                    margin-left: 0;
                    margin-bottom: 20px;
                }
                &__left {
                    background-color: #DFE5EE;
                    width: 600px;
                    padding: 60px 150px 55px 85px;
                    position: relative;
                    @include max-screen(767px) {
                        width: 90%;
                        padding: 20px 20px 18px;
                    }
                    .name {
                        em {
                            font-size: 22px;
                            font-weight: bold;
                            margin-left: 7px;
                            @include max-screen(767px) {
                                font-size: 20px;
                            }
                        }
                        .name-sp {
                            @include max-screen(767px) {
                                text-align: right;
                                display: block;
                            }
                        }
                    }
                    .message {
                        font-size: 12px;
                        color: #1D2E5C;
                        margin: 30px 0 10px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        @include max-screen(767px) {
                            margin: 13px 0 3px;
                        }
                    }
                    h5 {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        letter-spacing: 1.5px;
                        @include max-screen(767px) {
                            font-size: 16px;
                            letter-spacing: 0;
                            margin-bottom: 10px;
                            letter-spacing: 0;
                            white-space: nowrap;
                        }
                    }
                    p {
                        line-height: 25px;
                        text-align: justify;
                        @include max-screen(767px) {
                            line-height: 22px;
                            letter-spacing: 0.2px;
                        }
                    }
                }
                &__right {
                    width: 500px;
                    position: relative;
                    left: -70px;
                    top: -70px;
                    @include max-screen(767px) {
                        width: 50%;
                        left: 0;
                    }
                }
                &:last-child {
                    margin-bottom: 145px;
                    @include max-screen(767px) {
                        margin-bottom: 60px;
                    }
                }
                .img01 {
                    @include max-screen(767px) {
                        position: relative;
                        width: 55%;
                        left: 45%;
                        top: 15px;
                        z-index: 1;
                    }
                }
                .img02 {
                    @include max-screen(767px) {
                        position: relative;
                        width: 55%;
                        left: 0;
                        top: 15px;
                        z-index: 1;
                    }
                }
            }
            .box-spec {
                margin-left: 0;
                margin-right: 170px;
                @include max-screen(767px) {
                    margin-right: 0;
                }
                .right-spec {
                    left: 0;
                }
                .left-spec {
                    background-color: #D9EAEF;
                    left: -70px;
                    z-index: -1;
                    padding: 60px 60px 55px 150px;
                    @include max-screen(767px) {
                        width: 90%;
                        padding: 33px 20px 28px;
                        position: relative;
                        left: 10%;
                    }
                    .name {
                        white-space: nowrap;
                        @include max-screen(767px) {
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .content04 {
        &__performance {
            margin-bottom: 100px;
            &--title {
                color: $blue;
                margin-bottom: 33px;
                @include max-screen(767px) {
                    margin-bottom: 13px;
                }
                .title_en {
                    font-size: 20px;
                    text-transform: uppercase;
                    @include avenir;
                    margin-bottom: 9px;
                    letter-spacing: 6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 12px;
                        margin-bottom: 5px;
                        letter-spacing: 4px;
                    }
                    span {
                        color: #ce141c;
                    }
                }
                .title_jp {
                    font-weight: bold;
                    font-size: 26px;
                    letter-spacing: 2.6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 27px;
                        letter-spacing: 2px;
                        line-height: 35px;
                    }
                }
            }
        }
        .companyinfo {
            font-size: 16px;
            @include max-screen(767px) {
                font-size: 14px;
            }
            li {
                display: flex;
                border-bottom: 1px #5a6969 solid;
                padding: 25px 50px;
                @include max-screen(767px) {
                    padding: 15px 10px;
                }
                .left {
                    font-weight: bold;
                    width: 185px;
                    @include max-screen(767px) {
                        width: 65px;
                    }
                }
            }
        }
        .map {
            margin: 100px auto;
            @include max-screen(767px) {
                margin: 50px auto;
            }
            iframe {
                width: 100%;
                height: 515px;
                @include max-screen(767px) {
                    height: 170px;
                }
            }
        }
    }
}
