@charset 'UTF-8';
@import '../utility/*';


/* Z-INDEX */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
.ui-dialog .formError { z-index: 5000; }
.ui-dialog .formError .formErrorContent { z-index: 5001; }
.ui-dialog .formError .formErrorArrow { z-index: 5006; }
.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 120px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 11px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}
// BASE ON FORM DEFAULT
.errMsg {
  margin-left: 1em;
  padding-bottom: 1px;
  display: block;
  line-height: 1.4;
  text-indent: -.9em;
  }
.formError {
  padding-bottom: 13px;
  display: block;
}
.fixed {
  padding-bottom: 0px;
}
.formError .formErrorClose {
  border: solid #252525 2px;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -4px;
  right: -4px;
  color: #efefef;
  background: #333;
  font-weight: bold;
  text-align: center;
  line-height: middle;
  cursor: pointer;
  z-index:2;
  @include add_prefix(border-radius, 9px 9px 9px 9px);
  @include add_prefix(box-shadow, 1px -1px 3px #888);
}
.formError .formErrorClose:hover {
  background: #666;
}
.fixed .formErrorClose {
  display: none;
}
.formError .formErrorContent {
  padding: 6px 10px;
  width: 180px;
  position:relative;
  color: #fff;
  background: #252525;
  font-family: "Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,"ヒラギノ丸ゴ Pro W4",HiraMaruPro-W4,"ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,Osaka,sans-serif;
  font-size: 11px;
  margin: 0 0;
  z-index:1;
  @include add_prefix(border-radius, 3px);
  @include add_prefix(box-shadow, 0px 0px 6px #888);
}
.fixed .formErrorContent {
  margin-top: .5em;
  background: #252525;
  margin: 0;
  @include add_prefix(border-radius, none);
  @include add_prefix(box-shadow, none);
}
.fadeOut { opacity: .2;
  filter: alpha(opacity=20);
}
.formError .formErrorArrow {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 0 0 30px 0;
  z-index:0;
}
.fixed .formErrorArrow {
  display: none;
}
.formError .formErrorArrowBottom {
  margin: -6px;
  top: 0;
}
.fixed .formErrorArrowBottom {
  display: none;
}
.formError .formErrorArrow div {
  margin: 0 auto;
  display: block;
  height: 1px;
  background: #252525;
  line-height: 0px;
  font-size: 0px;
  @include add_prefix(box-shadow, 0px 2px 3px #888);
}
.formError .formErrorArrowBottom div{
  @include add_prefix(box-shadow, none);
}
.formError .formErrorArrow .line10 {
  width: 19px;
}
.formError .formErrorArrow .line9 {
  width: 17px;
}
.formError .formErrorArrow .line8 {
  width: 15px;
}
.formError .formErrorArrow .line7 {
  width: 13px;
}
.formError .formErrorArrow .line6 {
  width: 11px;
}
.formError .formErrorArrow .line5 {
  width: 9px;
}
.formError .formErrorArrow .line4 {
  width: 7px;
}
.formError .formErrorArrow .line3 {
  width: 5px;
}
.formError .formErrorArrow .line2 {
  width: 3px;
}
.formError .formErrorArrow .line1{
  width: 1px;
}
/* dislay */
.hid_url,.hid { display:none;}

.ui-widget.ui-widget-content {
	z-index: 2 !important;
}

.contact {

  &__methods {
		display: flex;
		flex-wrap: wrap;
		margin: 73px -25px 124px;

		li {
			width: 33.33333%;
			padding: 0 25px;

			a {
				display: flex;
				align-items: center;
				background: #fff;
				@include border-radius(5px);
				border: 1px solid #cacacb;
				position: relative;
				height: 81px;
				font-weight: bold;

				&::before {
					content: "";
					display: block;
					width: 7px;
					height: 13px;
					background: url(../../img/common/icon/ico_ar_right_square_blue.svg) no-repeat top left;
					background-size: 100% 100%;
					position: absolute;
					right: 14px;
					top: 50%;
					margin-top: -7px;
				}
				span {
					display: inline-block;
					vertical-align: top;
					font-size: 16px;
					position: relative;
					top: 1px;
				}
				&.btn_contact {
					padding-left: 48px;

          span {
            padding-left: 30px;
						left: -13px;

            &::before {
              content: "";
              display: block;
              width: 22px;
              height: 16px;
              background: url(../../img/common/icon/ico_mail_blue.svg) no-repeat top left;
              background-size: 100% 100%;
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -10px;
            }
          }
        }
        &.btn_chatwork {
          padding-left: 25px;

          img {
            display: block;
            width: 100px;
            margin-right: 2px;
            position: relative;
            top: -1px;
          }
        }
				&.btn_zoom {
          padding-left: 34px;

          img {
            display: block;
            width: 81px;
            margin-right: 5px;
						position: relative;
						top: 1px;
          }
        }
			}
		}
	}
	&__form {
		margin-bottom: 134px;

		&--part {
			text-align: center;
			margin-bottom: 43px;
			overflow: hidden;

			.part_title {
				background: $blue;
				text-align: center;
				color: #fff;
				font-weight: bold;
				line-height: 1;
				height: 57px;
				font-size: 20px;
				letter-spacing: 3.5px;
				padding-top: 18px;
				margin-bottom: 48px;
			}
			.part_desc {
				font-size: 14px;
				margin: -34px 0 45px;
				letter-spacing: 0.8px;
			}
			.part_note {
				font-weight: bold;
				letter-spacing: 2.85px;
				margin-top: 90px;
			}
			.part_list {
				max-width: 752px;
				margin: 0 auto;
				text-align: left;

				&__item {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 29px;
					align-items: center;

					&.v-top {
						align-items: flex-start;

						.part_list__item--lb {
							padding-top: 7px;
						}
					}
					&.mb {
						margin-bottom: 33px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&--lb {
						font-weight: bold;
						font-size: 16px;
						width: 250px;

						em {
							color: #cf242a;
							margin-left: 4px;
						}
					}
					&--ct {
						width: calc(100% - 250px);
						font-size: 14px;

						input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea, select {
							font-family: $yugothic;
	            font-size: 14px;
	            box-shadow: none;
	            -webkit-appearance: none;
	            -moz-appearance: none;
	            appearance: none;
	            border: 1px solid #9fa0a0;
	            box-shadow: none;
	            outline: none;
	            width: 100%;
	            background: #fff;
							@include border-radius(0);
						}
	          input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea {

	            &::-webkit-input-placeholder {
	              color: #b5b6b6;
	            }
	            &::-moz-placeholder {
	              color: #b5b6b6;
	            }
	            &:-ms-input-placeholder {
	              color: #b5b6b6;
	            }
	            &:-moz-placeholder {
	              color: #b5b6b6;
	            }
	  				}
	  				input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
	  					height: 41px;
	            padding: 0 19px;
	  				}
	          textarea {
	            height: 151px;
	            padding: 12px 20px;
	          }
						.bl_checkbox {
							display: flex;
							flex-wrap: wrap;
							margin: 0 -15px -10px;

							li {
								padding: 0 15px;
								margin-bottom: 10px;

								label {
	                display: block;
	                position: relative;

	                input {
	                  position: absolute;
	                  top: 0;
	                  left: 0;
	                  visibility: hidden;

	                  &:checked ~ span {

	                    &::after {
	                      @include transform_c(scale(1));
	                    }
	                  }
	                }
	                span {
	                  display: block;
	                  position: relative;
	                  padding-left: 16px;
										font-weight: bold;

	                  &::before,&::after {
	                    content: "";
	                    position: absolute;
	                    top: 50%;
	                    backface-visibility: hidden;
	                  }
	                  &::before {
	                    width: 11px;
	                    height: 11px;
	                    border: 1px solid $colortext;
	                    left: 0;
	                    margin-top: -6px;
	                    background: #fff;
	                  }
	                  &::after {
	                    width: 16px;
	                    height: 12px;
	                    background: url(../../img/common/icon/ico_checked.svg) no-repeat top left;
	                    background-size: 100% 100%;
	                    margin-top: -8px;
	                    left: 0;
	                    @include transition_c(transform .3s);
	                    @include transform_c(scale(0));
	                  }
	                }
	              }
							}
						}
						.bl_zipcode {
							display: flex;
							flex-wrap: wrap;
							align-items: center;

							span {
								margin: 0 13px 0 14px;
							}
							#zipcode01 {
								width: 110px;
							}
							#zipcode02 {
								width: 146px;
							}
						}
						.bl_files {
							margin: -4px 0 0;

	            li {
								margin-bottom: 27px;

								&:last-child {
									margin-bottom: 0;
								}
								.lb {
									font-weight: bold;
									font-size: 16px;
									margin-bottom: 5px;
								}
	              input[type="file"] {
	                display: none;
	              }
	              label {
	                height: 60px;
									border: 1px solid #9fa0a0;
									background: #fff;
									display: flex;
									flex-wrap: wrap;
									align-items: center;
									padding: 10px;

	                span {
	                  font-size: 14px;

	                  &.btn {
	                    width: 151px;
											height: 36px;
	                    text-align: center;
	                    border: 1px solid #9fa0a0;
	                    line-height: 1;
	                    padding-top: 11px;
											background: #dcdddd;
	                  }
	                  &.note {
	                    width: calc(100% - 151px);
	                    padding-left: 11px;
											white-space: nowrap;
											overflow: hidden;
											text-overflow: ellipsis;
	                  }
	                }
	              }
								&.cols2 {
									display: flex;
									flex-wrap: wrap;
									margin-left: -15px;
									margin-right: -15px;

									.subrow {
										padding: 0 15px;

										&:first-child {
											width: 54%;
										}
										&:last-child {
											width: 46%;
										}
									}
								}
	            }
	          }
						.bl_result {

							li {
								margin-bottom: 20px;

								&:last-child {
									margin-bottom: 0;
								}
								p {
									font-weight: bold;
								}
							}
						}
					}
				}
				&.part_files {

					.part_list__item {
						padding-bottom: 100px;
						margin-bottom: 97px;
						position: relative;

						&::before,&::after {
							content: "";
							width: 100vw;
							height: 1px;
							background: #939598;
							position: absolute;
							bottom: 0;
						}
						&::before {
							left: 0;
						}
						&::after {
							right: 0;
						}
						&--lb {
							font-size: 20px;
							width: 210px;
							text-align: right;
							padding-right: 49px;
							white-space: nowrap;
							direction: rtl;
						}
						&--ct {
							width: calc(100% - 210px);
							padding-left: 50px;
							border-left: 1px solid #9fa0a0;
						}
					}
				}
			}
		}
		.box_rules {
			background: #efefef;
			@include border-radius(10px);
			max-width: 800px;
			margin: 60px auto 50px;
			padding: 47px 15px 39px;

			&__inner {
				max-width: 580px;
				margin: 0 auto;
			}
			&__title {
				text-align: center;
				font-weight: bold;
				border-bottom: 1px solid #231f20;
				padding-bottom: 8px;
				margin-bottom: 21px;
			}
			&__content {
				font-size: 14px;
				padding: 0 48px;
				line-height: 1.8;
				margin-bottom: 26px;

				a {
					display: block;
					font-weight: bold;
				}
			}
			.chk_confirm {
				text-align: center;

				label {
					display: inline-block;
					vertical-align: top;
					position: relative;

					input {
						position: absolute;
						top: 0;
						left: 0;
						visibility: hidden;

						&:checked ~ span {

							&::after {
								@include transform_c(scale(1));
							}
						}
					}
					span {
						display: inline-block;
						vertical-align: top;
						position: relative;
						padding-left: 19px;
						font-weight: bold;

						&::before,&::after {
							content: "";
							position: absolute;
							top: 50%;
							backface-visibility: hidden;
						}
						&::before {
							width: 13px;
							height: 13px;
							border: 1px solid $colortext;
							left: 0;
							margin-top: -7px;
						}
						&::after {
							width: 18px;
							height: 14px;
							background: url(../../img/common/icon/ico_checked.svg) no-repeat top left;
							background-size: 100% 100%;
							margin-top: -9px;
							left: 0;
							@include transition_c(transform .3s);
							@include transform_c(scale(0));
						}
					}
				}
			}
		}
		.btn_submit {
			display: block;
			cursor: pointer;
      outline: none;
			margin: 0 auto;
			width: 100%;
			max-width: 220px;
			height: 50px;
			@include transition_c(all .3s);
			@include border-radius(4px);
			background: $blue;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			border: 0;
			line-height: 1;
			position: relative;

			span {
				display: block;
				position: relative;
			}
			@include PC {

				&:hover {
					opacity: .7;
				}
			}
			&#btnConfirm_bot {
				margin-top: -50px;
			}
		}
		.btn_back {
			text-align: right;
			margin-bottom: 60px;

			a {
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}
	@include max-screen(767px) {

		&__methods {
			margin: 29px auto 30px;
			max-width: 270px;

			li {
				padding: 0;
				width: 100%;
				margin-bottom: 9px;

				a {
					@include border-radius(3px);
					height: 71px;

					&::before {
						width: 6px;
						height: 11px;
						margin-top: -6px;
						right: 19px;
					}
					span {
						font-size: 14px;
						top: -1px;
					}
					&.btn_contact {
						padding-left: 43px;

						span {

							&::before {
								width: 20px;
								height: 14px;
								margin-top: -6px;
							}
						}
					}
					&.btn_chatwork {
						padding-left: 21px;

						img {
							width: 90px;
							margin-right: 4px;
							top: 0;
						}
					}
					&.btn_zoom {
						padding-left: 29px;

						img {
							width: 73px;
							margin-right: 7px;
							top: -1px;
						}
					}
				}
			}
		}
		&__form {
			margin-bottom: 50px;

			&--part {
				margin-bottom: 23px;

				.part_title {
					height: 60px;
					padding-top: 19px;
					margin-bottom: 16px;
				}
				.part_note {
					margin-top: 48px;
					line-height: 1.75;
					letter-spacing: 1.6px;
				}
				.part_desc {
					font-size: 16px;
					margin: 18px 0 23px;
					letter-spacing: 3px;
				}
				.part_list {

					&__item {
						margin-bottom: 22px;

						&.mb {
							margin-bottom: 22px;
						}
						&--lb,&--ct {
							width: 100% !important;
							font-size: 14px;
						}
						&--lb {
							margin-bottom: 6px;
						}
						&--ct {

							input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
								height: 36px;
								padding: 0 16px;
							}
							textarea {
								height: 201px;
							}
							.bl_checkbox {
								margin-top: -4px;
								margin-bottom: -2px;

								li {
									margin-bottom: 2px;

									label span {

										&::before {
											margin-top: -5px;
										}
										&::after {
											margin-top: -7px;
										}
									}
								}
							}
							.bl_zipcode {

								#zipcode01 {
									width: 94px;
								}
								#zipcode02 {
									width: 127px;
								}
								span {
									margin: 0 9px 0 12px;
								}
							}
							.bl_files {
								padding: 0;

								li {
									margin-bottom: 18px;

									.lb {
										font-size: 14px;
										margin-bottom: 3px;
									}
									label {
										padding: 10px 8px;
										height: 52px;

										span {

											&.btn {
												width: 127px;
												height: 30px;
												padding-top: 6px;
											}
											&.note {
												width: calc(100% - 127px);
												padding-left: 9px;
												letter-spacing: 0.2px;
											}
										}
									}
									&.cols2 {
										margin: 0 -5px 18px;

										.subrow {
											padding: 0 5px;
											width: 50% !important;
										}
									}
								}
							}
						}
					}
					&.part_files {

						.part_list__item {
							padding-bottom: 0;
							border-bottom: 0;
							margin-bottom: 35px;

							&--lb {
								text-align: left;
								padding: 0;
								font-size: 16px;
								border-bottom: 1px solid #9e9e9f;
								padding-bottom: 4px;
								margin-bottom: 12px;
							}
							&--ct {
								padding: 0;
								border: 0;
							}
						}
					}
				}
			}
			.box_rules {
				@include border-radius(5px);
				margin: 30px auto 34px;
				padding: 26px 20px 22px;

				&__title {
					font-size: 16px;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
				&__content {
					padding: 0;
					margin-bottom: 8px;

					a {
						margin-top: -2px;
					}
				}
				.chk_confirm {
					padding: 0 10px 0 13px;

					label {

						span {
							line-height: 1.75;
							padding-left: 19px;

							&::before,&::after {
								margin-top: 0;
							}
							&::before {
								top: 9px;
							}
							&::after {
								top: 7px;
							}
						}
					}
				}
			}
			.btn_back {
				margin-bottom: 35px;
			}
			.btn_submit {
				max-width: 255px;
				@include border-radius(3px);

				&#btnConfirm_bot {
					margin-top: -22px;
				}
			}
		}
	}
	@include max-screen(374px) {

		&__form--part .part_note br {
			display: none;
		}
	}
}

.confirm_page {

	.header__main--logo {
		pointer-events: none;
		cursor: default;
	}
	.header__main--right,.cmn_download,.contactBox,.footer__frame .footer__inner {
		display: none;
	}
	.footer {
		overflow: visible;
	}
	.contact__form {
		margin-top: 124px;

		&--part {

			.part_list {

				&__item {

					&.v-top .part_list__item--lb {
						padding-top: 0;
					}
				}
			}
		}
	}
	@include max-screen(767px) {

		.contact__form {
			margin-top: 50px;
		}
	}
}

.complete_page {

	&__content {
		text-align: center;
		margin: 100px 0 150px;

		p {
			line-height: 2.2;
			margin-bottom: 50px;
		}
		a {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			width: 100%;
			max-width: 220px;
			height: 50px;
			@include border-radius(4px);
			background: $blue;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			line-height: 1;

			span {
				display: block;
				position: relative;
			}
		}
	}
	@include max-screen(767px) {

		&__content {
			margin: 50px 0 75px;

			p {
				font-size: 14px;
				line-height: 1.8;
				margin-bottom: 30px;
			}
		}
	}
}
