@charset 'UTF-8';
@import "../utility/*";

.cost {
    .inner {
        width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
        @include max-screen(767px) {
            width: 100%;
        }
    }
    &__content {
        p {
            font-size: 14px;
            @include max-screen(767px) {
                font-size: 15px;
                letter-spacing: -0.5px;
            }
        }
    }
    .mar {
        margin-right: 20px;
        &:before {
            right: -25px;
            margin-right: 10px;
        }
    }
    .content01 {
        margin-top: 95px;
        @include max-screen(767px) {
            margin-top: 30px;
        }
        &__title {
            text-align: center;
            &__ico {
                img {
                    width: 32px;
                }
            }
            h4 {
                color: #1D2D5B;
                font-weight: bold;
                font-size: 26px;
                letter-spacing: 2px;
                margin: 15px 0 18px;
                @include max-screen(767px) {
                    font-size: 19px;
                    margin: 10px 0 13px;
                }
            }
            p {
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 95px;
                @include max-screen(767px) {
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin-bottom: 37px;
                }
            }
        }
    }
    .content02 {
        margin-top: 80px;
        background-image: url("../../img/meo/bg.png");
        background-position: center center;
        width: 100%;
        height: 770px;
        padding: 55px 0 80px;
        @include max-screen(767px) {
            margin-top: 50px;
            background-image: url("../../img/meo/bg-sp.png");
            padding: 30px 0 50px;
            height: 1030px;
        }
        @include max-screen(375px) {
            height: 940px;
        }
        @include max-screen(360px) {
            height: 900px;
        }
        &__content {
            .video-box {
                background: #fff;
                padding: 30px 30px 20px 80px;
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                @include max-screen(767px) {
                    display: block;
                    padding: 30px 20px 35px;
                    border-radius: 5px;
                }
                .left {
                    width: 260px;
                    margin-top: -45px;
                    @include max-screen(767px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                .right {
                    font-size: 0;
                    width: calc(100% - 260px);
                    justify-content: flex-end;
                    display: flex;
                    flex-wrap: wrap;

                    .vidframe {
                        width: 100%;
                        max-width: 520px;

                        video {
                            width: 100%;
                        }
                    }
                    @include max-screen(767px) {
                        width: 100%;
                        // height: 300px !important;
                        iframe {
                            width: 100%;
                            height: 300px!important;
                        }
                    }
                }
            }
            .img-box {
                width: 560px;
                margin: 65px auto 20px;
                @include max-screen(767px) {
                    width: 100%;
                    margin: 30px auto 20px;
                }
            }
            h4 {
                text-align: center;
                font-weight: bold;
                font-size: 26px;
                line-height: 37px;
                @include max-screen(767px) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .content03 {
        &__button {
            width: 540px;
            margin: 0 auto;
            background-image: url("../../img/cost/btn-bg.png");
            background-size: contain;
            background-repeat: no-repeat;
            height: 145px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            padding: 68px 0 0 35px;
            cursor: pointer;
            margin-top: 100px;
            @include max-screen(767px) {
                width: 90%;
                padding: 0 25px;
                height: 90px;
                background-image: url("../../img/meo/btn-bg-sp.png");
                font-size: 14px;
                line-height: 19px;
                padding: 40px 0 0 10px;
                margin-top: 30px;
            }
            @include max-screen(375px) {
                padding: 40px 0 0 40px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .content04 {
        margin-top: 115px;
        @include max-screen(767px) {
            margin-top: 50px;
        }
        &__iwsi {
            width: 450px;
            margin: 0 auto;
            @include max-screen(767px) {
                width: 70%;
            }
        }
        &__content {
            background: #DFE5EE;
            .tit {
                color: #1D2E5C;
                font-weight: bold;
                font-size: 20px;
                background: #fff;
                padding: 5px 10px;
                text-align: center;
                width: 270px;
                margin: 0 auto;
                position: relative;
                top: -22px;
                @include max-screen(767px) {
                    width: 220px;
                    font-size: 16px;
                }
            }
        }
        &__talk {
            font-weight: bold;
            padding: 35px 0 70px;
            margin-bottom: 160px;
            @include max-screen(767px) {
                padding: 0 15px 20px;
                margin-bottom: 50px;
            }
            li {
                background: #fff;
                margin: 0 auto 40px;
                padding: 30px 50px;
                width: 900px;
                @include max-screen(767px) {
                    padding: 20px 20px 15px;
                    margin: 0 auto 20px;
                    width: 100%;
                }
                .up {
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    margin-bottom: 23px;
                    @include max-screen(767px) {
                        align-items: flex-start;
                        margin-bottom: 13px;
                    }
                    span {
                        color: #1D2E5C;
                        border: #1D2E5C 1px solid;
                        padding: 5px 40px;
                        margin-right: 20px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            margin-right: 12px;
                        }
                    }
                    p {
                        color: #1D2E5C;
                        font-size: 16px;
                        @include max-screen(767px) {
                            font-size: 15px;
                            width: 80%;
                        }
                    }
                }
                .down {
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    @include max-screen(767px) {
                        align-items: flex-start;
                    }
                    span {
                        background: #CE131C;
                        color: #fff;
                        border: #CE131C 1px solid;
                        padding: 5px 40px;
                        margin-right: 20px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            margin-right: 12px;
                        }
                    }
                    .spec {
                        padding: 16px 40px;
                        height: 67px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            height: auto;
                        }
                    }
                    .spec01 {
                        padding: 26px 40px;
                        height: 90px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            height: auto;
                        }
                    }
                    p {
                        color: #CE131C;
                    }
                }
                p {
                    font-size: 16px;
                    @include max-screen(767px) {
                        font-size: 14px;
                        text-align: justify;
                        width: 80%;
                        line-height: 20px;
                        margin-top: -5px;
                    }
                }
                span {
                    font-size: 20px;
                    @include max-screen(767px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .content05 {
        margin-top: 90px;
        @include max-screen(767px) {
            margin-top: 70px;
        }
        .box {
            display: flex;
            justify-content: space-between;
            width: 930px;
            margin-bottom: 150px;
            @include max-screen(767px) {
                display: block;
                width: 100%;
                margin-bottom: 70px;
            }
            .left {
                width: 610px;
                @include max-screen(767px) {
                    width: 100%;
                }
            }
            .right {
                width: 270px;
                @include max-screen(767px) {
                    width: 100%;
                }
                span {
                    font-size: 18px;
                    @include max-screen(767px) {
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                h5 {
                    font-size: 40px;
                    font-weight: bold;
                    color: #CE131C;
                    line-height: 50px;
                    @include max-screen(767px) {
                        font-size: 28px;
                        line-height: 40px;
                        letter-spacing: 1px;
                    }
                }
                p {
                    line-height: 28px;
                    font-size: 14px;
                    margin: 30px 0;
                    @include max-screen(767px) {
                        font-size: 16px;
                        line-height: 25px;
                        letter-spacing: 1.5px;
                        margin: 18px 0 25px;
                    }
                }
                .button {
                    background: #1D2D5B;
                    font-size: 14px;
                    border-radius: 5px;
                    padding: 15px 20px 15px 45px;
                    font-weight: bold;
                    color: #fff;
                    letter-spacing: 1px;
                    @include max-screen(767px) {
                        font-size: 18px;
                        padding: 12px 20px 12px 35px;
                        margin: 20px auto;
                        width: 100%;
                        max-width: 300px;
                    }
                    .ico {
                        width: 20px;
                        margin-left: 25px;
                        margin-top: -10px;
                    }
                }
            }
        }
        .box01 {
            position: relative;
            left: 70px;
            margin-bottom: 140px;
            @include max-screen(767px) {
                margin-bottom: 80px;
                left: 0;
            }
        }
        .point {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 85px;
            @include max-screen(767px) {
                display: block;
                margin-top: 60px;
            }
            li {
                width: 300px;
                text-align: center;
                border: 1px #1D2D5B solid;
                padding: 0 40px 10px;
                @include max-screen(767px) {
                    width: 100%;
                    margin-bottom: 60px;
                    padding: 0 25px 30px;
                }
                .img-p {
                    width: 70px;
                    position: relative;
                    top: -40px;
                    left: 70px;
                    @include max-screen(767px) {
                        width: 85px;
                        left: 36%;
                        top: -32px;
                    }
                    @include max-screen(375px) {
                        left: 35%;
                    }
                }
                .text {
                    color: #1D2D5B;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 28px;
                    margin-top: -25px;
                    margin-bottom: 15px;
                    @include max-screen(767px) {
                        margin-top: -22px;
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .content06 {
        margin-bottom: 100px;
        @include max-screen(767px) {
            margin-bottom: 90px;
        }
        &__performance {
            margin-bottom: 100px;
            &--title {
                color: $blue;
                margin-bottom: 33px;
                @include max-screen(767px) {
                    margin-bottom: 13px;
                }
                .title_en {
                    font-size: 20px;
                    text-transform: uppercase;
                    @include avenir;
                    margin-bottom: 9px;
                    letter-spacing: 6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 12px;
                        margin-bottom: 5px;
                        letter-spacing: 4px;
                    }
                    span {
                        color: #ce141c;
                    }
                }
                .title_jp {
                    font-weight: bold;
                    font-size: 26px;
                    letter-spacing: 2.6px;
                    text-align: center;
                    line-height: 35px;
                    @include max-screen(767px) {
                        font-size: 20px;
                        letter-spacing: 2px;
                        line-height: 25px;
                        margin-top: 15px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
        .img {
            width: 700px;
            margin: 0 auto;
            @include max-screen(767px) {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
    .content07 {
        background: #D9EAEF;
        padding: 100px 0 50px;
        @include max-screen(767px) {
            padding: 40px 0 50px;
        }
        .step-box {
            width: 900px;
            margin: 0 auto;
            @include max-screen(767px) {
                width: 100%;
                padding: 0 50px;
            }
            li {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 30px;
                @include max-screen(767px) {
                    display: block;
                    margin-bottom: 0;
                }
                .step-num {
                    font-size: 16px;
                    width: 160px;
                    border-bottom: 2px #1D2D5B solid;
                    font-weight: bold;
                    color: #1D2D5B;
                    position: relative;
                    z-index: 1;
                    right: -30px;
                    top: -20px;
                    letter-spacing: 1px;
                    @include max-screen(767px) {
                        border-bottom: 1px #1D2D5B solid;
                        right: 25px;
                        font-size: 15px;
                        top: 14px;
                    }
                    span {
                        font-size: 40px;
                        margin-left: 5px;
                        @include max-screen(767px) {
                            font-size: 37px;
                        }
                    }
                }
                .content {
                    background: #fff;
                    width: 750px;
                    padding: 30px 60px 28px 45px;
                    @include max-screen(767px) {
                        width: 100%;
                        padding: 30px 15px 28px;
                    }
                    h5 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #1D2D5B;
                        margin-bottom: 10px;
                        letter-spacing: 1px;
                        @include max-screen(767px) {
                            font-size: 16px;
                            letter-spacing: -1px;
                        }
                    }
                    p {
                        @include max-screen(767px) {
                            line-height: 21px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .content08 {
        padding-top: 145px;
        margin-bottom: 100px;
        @include max-screen(767px) {
            padding: 60px 20px 0;
            margin-bottom: 60px;
        }
        &__performance {
            margin-bottom: 100px;
            &--title {
                color: $blue;
                margin-bottom: 33px;
                .title_en {
                    font-size: 20px;
                    text-transform: uppercase;
                    @include avenir;
                    margin-bottom: 9px;
                    letter-spacing: 6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 12px;
                        margin-bottom: 5px;
                        letter-spacing: 4px;
                    }
                    span {
                        color: #ce141c;
                    }
                }
                .title_jp {
                    font-weight: bold;
                    font-size: 26px;
                    letter-spacing: 2.6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
        &__box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include max-screen(767px) {
                display: block;
            }
            &__info {
                width: 450px;
                text-align: center;
                margin-bottom: 75px;
                @include max-screen(767px) {
                    width: 100%;
                    margin-bottom: 35px;
                }
                &__img {
                    width: 450px;
                    height: 300px;
                    color: #fff;
                    font-weight: bold;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-top: 100px;
                    @include max-screen(767px) {
                        width: 100%;
                        height: 200px;
                        padding-top: 65px;
                    }
                    .up {
                        font-size: 30px;
                        @include max-screen(767px) {
                            font-size: 26px;
                        }
                    }
                    .down {
                        line-height: 80px;
                        @include max-screen(767px) {
                            line-height: 60px;
                        }
                        em {
                            font-size: 50px;
                            @include max-screen(767px) {
                                font-size: 45px;
                            }
                        }
                        span {
                            font-size: 30px;
                            @include max-screen(767px) {
                                font-size: 26px;
                            }
                        }
                    }
                }
                .img1 {
                    background-image: url("../../img/philosophy/img04.jpg");
                }
                .img2 {
                    background-image: url("../../img/philosophy/img05.jpg");
                }
                .img3 {
                    background-image: url("../../img/philosophy/img06.jpg");
                }
                .img4 {
                    background-image: url("../../img/philosophy/img07.jpg");
                }
                h5 {
                    display: block;
                    margin: 22px 0 12px;
                    font-weight: bold;
                    font-size: 22px;
                    @include max-screen(767px) {
                        font-size: 16px;
                        margin: 12px 0 8px;
                    }
                }
                p {
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    @include max-screen(767px) {
                        line-height: 22px;
                        letter-spacing: -0.5px;
                    }
                }
            }

        }
    }
}
