@font-face {
  font-family: 'DIN Alternate';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/DINAlternate-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Avenir Roman';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/avenir-roman.woff") format("woff");
}
