@charset 'UTF-8';
@import "../utility/*";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  body,
  .contact__form input[type='text'], .contact__form input[type='email'], .contact__form input[type='tel'], .contact__form input[type='number'], .contact__form textarea, .contact__form select,
  .contact__form .btn_submit {
    font-family: $yugothic_ie;
  }
  .header__main--menu {
    padding-top: 6px;
  }
  .breadcrumbs ul li::before {
    margin-top: -5px;
  }
  .cmn_download__img .cmn_btn {
    padding-top: 21px;

    span::before {
      margin-top: -11px;
    }
  }
  .top__philosophy--content .cmn_btn {
    padding-top: 17px;
  }
  .cmn_btn {
    padding-top: 19px;
  }
  .contactBox__btns li a.btn_contact span {
    top: -1px;

    &::before {
      margin-top: -7px;
    }
  }
  .case_archive__list li .content span {
    padding-top: 8px;
  }
  .case_detail__points li span {
    padding-top: 7px;
  }
  .case_detail__points li p {
    padding-top: 4px;
  }
  .case_detail__customer--title {
    padding-top: 28px;
  }
  .case_detail__part--title {
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .contact__methods li a span {
    top: -2px;
  }
  .contact__methods li a.btn_contact span::before {
    margin-top: -7px;
  }
  .contact__methods li a.btn_zoom img {
    top: -1px;
  }
  .contact__form--part .part_title {
    padding-top: 17px;
  }
  .contact__form--part .part_list__item--ct .bl_checkbox li label span::before {
    margin-top: -5px;
  }
  .contact__form--part .part_list__item--ct .bl_checkbox li label span::after {
    margin-top: -7px;
  }
  .contact__form--part .part_list__item--ct .bl_files li label span.btn {
    padding-top: 8px;
  }
  .contact__form--part .part_list__item--ct .bl_files li label span.note {
    position: relative;
    top: -1px;
  }
  .contact__form .box_rules .chk_confirm label span::before {
    margin-top: -5px;
  }
  .contact__form .box_rules .chk_confirm label span::after {
    margin-top: -7px;
  }
  .contact__form .btn_submit span {
    top: -1px;
  }
  textarea {
    overflow: auto;
  }
}
@media screen\0 {

  body,
  .contact__form input[type='text'], .contact__form input[type='email'], .contact__form input[type='tel'], .contact__form input[type='number'], .contact__form textarea, .contact__form select,
  .contact__form .btn_submit {
    font-family: $yugothic_ie;
  }
  .header__main--menu {
    padding-top: 6px;
  }
  .breadcrumbs ul li::before {
    margin-top: -5px;
  }
  .cmn_download__img .cmn_btn {
    padding-top: 21px;

    span::before {
      margin-top: -11px;
    }
  }
  .top__philosophy--content .cmn_btn {
    padding-top: 17px;
  }
  .cmn_btn {
    padding-top: 19px;
  }
  .contactBox__btns li a.btn_contact span {
    top: -1px;

    &::before {
      margin-top: -7px;
    }
  }
  .case_archive__list li .content span {
    padding-top: 8px;
  }
  .case_detail__points li span {
    padding-top: 7px;
  }
  .case_detail__points li p {
    padding-top: 4px;
  }
  .case_detail__customer--title {
    padding-top: 28px;
  }
  .case_detail__part--title {
    padding-top: 15px;
    padding-bottom: 17px;
  }
  .contact__methods li a span {
    top: -2px;
  }
  .contact__methods li a.btn_contact span::before {
    margin-top: -7px;
  }
  .contact__methods li a.btn_zoom img {
    top: -1px;
  }
  .contact__form--part .part_title {
    padding-top: 17px;
  }
  .contact__form--part .part_list__item--ct .bl_checkbox li label span::before {
    margin-top: -5px;
  }
  .contact__form--part .part_list__item--ct .bl_checkbox li label span::after {
    margin-top: -7px;
  }
  .contact__form--part .part_list__item--ct .bl_files li label span.btn {
    padding-top: 8px;
  }
  .contact__form--part .part_list__item--ct .bl_files li label span.note {
    position: relative;
    top: -1px;
  }
  .contact__form .box_rules .chk_confirm label span::before {
    margin-top: -5px;
  }
  .contact__form .box_rules .chk_confirm label span::after {
    margin-top: -7px;
  }
  .contact__form .btn_submit span {
    top: -1px;
  }
  textarea {
    overflow: auto;
  }
}
