@charset 'UTF-8';
@import "../utility/*";

.meo {
    .inner {
        width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
        @include max-screen(767px) {
            width: 100%;
        }
    }
    &__content {
        p {
            font-size: 14px;
            @include max-screen(767px) {
                font-size: 15px;
                letter-spacing: -0.5px;
            }
        }
    }
    .mar {
        margin-right: 20px;
        &:before {
            right: -25px;
            margin-right: 10px;
        }
    }
    .content01 {
        margin-top: 95px;
        @include max-screen(767px) {
            margin-top: 30px;
        }
        &__title {
            text-align: center;
            &__ico {
                img {
                    width: 32px;
                }
            }
            &__img {
                width: 880px;
                margin: 0 auto;
                @include max-screen(767px) {
                    width: 70%;
                }
            }
            h4 {
                color: #1D2D5B;
                font-weight: bold;
                font-size: 26px;
                letter-spacing: 2px;
                margin: 15px 0 18px;
                @include max-screen(767px) {
                    font-size: 19px;
                    margin: 10px 0 13px;
                }
            }
            p {
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 95px;
                @include max-screen(767px) {
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin-bottom: 37px;
                }
            }
        }
    }
    .content02 {
        margin-top: 80px;
        background-image: url("../../img/meo/bg.png");
        background-position: center center;
        width: 100%;
        height: 850px;
        padding: 95px 0 80px;
        @include max-screen(767px) {
            margin-top: 50px;
            background-image: url("../../img/meo/bg-sp.png");
            padding: 35px 0 50px;
            height: 920px;
        }
        @include max-screen(375px) {
            height: 885px;
        }
        h4 {
            font-size: 26px;
            color: #1D2E5C;
            font-weight: bold;
            line-height: 46px;
            text-align: center;
            @include max-screen(767px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
        &__content {
            display: flex;
            justify-content: space-between;
            margin-top: 75px;
            @include max-screen(767px) {
                display: block;
                margin-top: 15px;
            }
            .left {
                width: 600px;
                @include max-screen(767px) {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            .right {
                width: 365px;
                color: #1D2E5C;
                @include max-screen(767px) {
                    width: 100%;
                    text-align: center;
                }
                span {
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 27px;
                    margin-bottom: 15px;
                    display: block;
                    @include max-screen(767px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                div {
                    font-size: 22px;
                    border: #1D2D5B solid 1px;
                    border-radius: 10px;
                    padding: 8px 15px;
                    font-weight: bold;
                    display: inline-block;
                    width: 280px;
                    margin-bottom: 45px;
                    @include max-screen(767px) {
                        width: 160px;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 4px 10px;
                        border-radius: 5px;
                        margin-bottom: 25px;
                    }
                }
                ul {
                    font-size: 22px;
                    font-weight: 500;
                    @include max-screen(767px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    li {
                        line-height: 34px;
                        @include max-screen(767px) {
                            line-height: 20px;
                        }
                        em {
                            display: block;
                            margin: 10px 0 12px 94px;
                            @include max-screen(767px) {
                                margin: 10px 0 12px;
                            }
                            img {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content03 {
        &__button {
            width: 540px;
            margin: 0 auto;
            background-image: url("../../img/meo/btn-bg.png");
            background-size: contain;
            background-repeat: no-repeat;
            height: 145px;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            text-align: center;
            padding: 55px 0 0 30px;
            cursor: pointer;
            margin-top: 100px;
            @include max-screen(767px) {
                width: 90%;
                padding: 0 25px;
                height: 90px;
                background-image: url("../../img/meo/btn-bg-sp.png");
                font-size: 14px;
                line-height: 19px;
                padding: 33px 0 0;
                margin-top: 30px;
            }
            @include max-screen(375px) {
                padding: 33px 0 0 30px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .content04 {
        margin-top: 115px;
        @include max-screen(767px) {
            margin-top: 50px;
        }
        &__iwsi {
            width: 450px;
            margin: 0 auto;
            @include max-screen(767px) {
                width: 70%;
            }
        }
        &__content {
            background: #DFE5EE;
            .tit {
                color: #1D2E5C;
                font-weight: bold;
                font-size: 20px;
                background: #fff;
                padding: 5px 10px;
                text-align: center;
                width: 270px;
                margin: 0 auto;
                position: relative;
                top: -22px;
                @include max-screen(767px) {
                    width: 220px;
                    font-size: 16px;
                }
            }
        }
        &__talk {
            font-weight: bold;
            padding: 35px 0 70px;
            margin-bottom: 160px;
            @include max-screen(767px) {
                padding: 0 15px 20px;
                margin-bottom: 50px;
            }
            li {
                background: #fff;
                margin: 0 auto 40px;
                padding: 30px 50px;
                width: 900px;
                @include max-screen(767px) {
                    padding: 20px 20px 15px;
                    margin: 0 auto 20px;
                    width: 100%;
                }
                .up {
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    margin-bottom: 23px;
                    @include max-screen(767px) {
                        align-items: flex-start;
                        margin-bottom: 13px;
                    }
                    span {
                        color: #1D2E5C;
                        border: #1D2E5C 1px solid;
                        padding: 5px 40px;
                        margin-right: 20px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            margin-right: 12px;
                        }
                    }
                    p {
                        color: #1D2E5C;
                        font-size: 16px;
                        @include max-screen(767px) {
                            font-size: 15px;
                            width: 80%;
                        }
                    }
                }
                .down {
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    @include max-screen(767px) {
                        align-items: flex-start;
                    }
                    span {
                        background: #CE131C;
                        color: #fff;
                        border: #CE131C 1px solid;
                        padding: 5px 40px;
                        margin-right: 20px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            margin-right: 12px;
                        }
                    }
                    .spec {
                        padding: 16px 40px;
                        height: 67px;
                        @include max-screen(767px) {
                            padding: 2px 10px;
                            width: 20%;
                            text-align: center;
                            height: auto;
                        }
                    }
                    p {
                        color: #CE131C;
                    }
                }
                p {
                    font-size: 16px;
                    @include max-screen(767px) {
                        font-size: 14px;
                        text-align: justify;
                        width: 80%;
                        line-height: 20px;
                        margin-top: -5px;
                    }
                }
                span {
                    font-size: 20px;
                    @include max-screen(767px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
