@charset 'UTF-8';
@import "../utility/*";

.philosophy {
    .inner {
        width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
        @include max-screen(767px) {
            width: 100%;
        }
    }
    &__content {
        p {
            font-size: 14px;
            @include max-screen(767px) {
                font-size: 15px;
                letter-spacing: -0.5px;
            }
        }
    }
    .content01 {
        margin-top: 95px;
        @include max-screen(767px) {
            margin-top: 30px;
        }
        &__title {
            text-align: center;
            &__ico {
                img {
                    width: 32px;
                }
            }
            h4 {
                color: #1D2D5B;
                font-weight: bold;
                font-size: 26px;
                letter-spacing: 2px;
                margin: 15px 0 18px;
                @include max-screen(767px) {
                    font-size: 19px;
                    margin: 10px 0 13px;
                    letter-spacing: 1px;
                }
            }
            p {
                letter-spacing: 1px;
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 105px;
                @include max-screen(767px) {
                    text-align: left;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 22px;
                    margin-bottom: 77px;
                }
            }
        }
        &__text {
            h5 {
                font-size: 20px;
                text-align: center;
                margin-bottom: 20px;
                @include max-screen(767px) {
                    line-height: 28px;
                    margin-bottom: 18px;
                }
            }
            &__content {
                background-color: #FBFBFC;
            }
        }
    }
    .content02 {
        &__wwd {
            text-align: center;
            margin-top: 100px;
            @include max-screen(767px) {
                margin-top: 30px;
            }
            img {
                width: 470px;
                @include max-screen(767px) {
                    width: 70%;
                }
            }
        }
        &__listtodo {
            background-image: url("../../img/philosophy/bg.png");
            background-position: center center;
            width: 100%;
            height: 1400px;
            padding: 75px 0 100px;
            @include max-screen(767px) {
                background-image: url("../../img/philosophy/bg-sp.png");
                padding: 25px 0 50px;
                height: 1660px;
            }
            &__box {
                &__info {
                    .title {
                        text-align: center;
                        display: block;
                        margin-bottom: 40px;
                        @include max-screen(767px) {
                            margin-bottom: 30px;
                        }
                        img {
                            width: 160px;
                            @include max-screen(767px) {
                                width: 150px;
                            }
                        }
                    }
                    .contentinfo {
                        em {
                            position: absolute;
                            width: 60px;
                            height: 60px;
                            left: 47%;
                            top: -30px;
                            @include max-screen(767px) {
                                width: 50px;
                                height: 50px;
                                left: 42%;
                                top: -25px;
                            }
                        }
                        background: #fff;
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-bottom: 95px;
                        @include max-screen(767px) {
                            display: block;
                            margin-bottom: 25px;
                        }
                        .left {
                            width: 400px;
                            @include max-screen(767px) {
                                width: 100%;
                            }
                        }
                        .right {
                            width: 600px;
                            padding: 0 50px;
                            @include max-screen(767px) {
                                width: 100%;
                                padding: 18px 20px 20px;
                            }
                            h5 {
                                letter-spacing: 1px;
                                font-weight: bold;
                                color: #1D2D5B;
                                font-size: 30px;
                                display: block;
                                margin-bottom: 20px;
                                line-height: 42px;
                                @include max-screen(767px) {
                                    font-size: 18px;
                                    text-align: center;
                                    margin-bottom: 12px;
                                    line-height: 27px;
                                }
                            }
                            p {
                                line-height: 24px;
                                letter-spacing: 0.5px;
                                @include max-screen(767px) {
                                    line-height: 20px;
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .content03 {
        padding-top: 145px;
        margin-bottom: 100px;
        @include max-screen(767px) {
            padding: 60px 20px 0;
            margin-bottom: 60px;
        }
        &__performance {
            margin-bottom: 100px;
            &--title {
                color: $blue;
                margin-bottom: 33px;
                .title_en {
                    font-size: 20px;
                    text-transform: uppercase;
                    @include avenir;
                    margin-bottom: 9px;
                    letter-spacing: 6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 12px;
                        margin-bottom: 5px;
                        letter-spacing: 4px;
                    }
                    span {
                        color: #ce141c;
                    }
                }
                .title_jp {
                    font-weight: bold;
                    font-size: 26px;
                    letter-spacing: 2.6px;
                    text-align: center;
                    @include max-screen(767px) {
                        font-size: 20px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
        &__box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include max-screen(767px) {
                display: block;
            }
            &__info {
                width: 450px;
                text-align: center;
                margin-bottom: 75px;
                @include max-screen(767px) {
                    width: 100%;
                    margin-bottom: 35px;
                }
                &__img {
                    width: 450px;
                    height: 300px;
                    color: #fff;
                    font-weight: bold;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-top: 100px;
                    @include max-screen(767px) {
                        width: 100%;
                        height: 200px;
                        padding-top: 65px;
                    }
                    .up {
                        font-size: 30px;
                        @include max-screen(767px) {
                            font-size: 26px;
                        }
                    }
                    .down {
                        line-height: 80px;
                        @include max-screen(767px) {
                            line-height: 60px;
                        }
                        em {
                            font-size: 50px;
                            @include max-screen(767px) {
                                font-size: 45px;
                            }
                        }
                        span {
                            font-size: 30px;
                            @include max-screen(767px) {
                                font-size: 26px;
                            }
                        }
                    }
                }
                .img1 {
                    background-image: url("../../img/philosophy/img04.jpg");
                }
                .img2 {
                    background-image: url("../../img/philosophy/img05.jpg");
                }
                .img3 {
                    background-image: url("../../img/philosophy/img06.jpg");
                }
                .img4 {
                    background-image: url("../../img/philosophy/img07.jpg");
                }
                h5 {
                    display: block;
                    margin: 22px 0 12px;
                    font-weight: bold;
                    font-size: 22px;
                    @include max-screen(767px) {
                        font-size: 16px;
                        margin: 12px 0 8px;
                    }
                }
                p {
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    @include max-screen(767px) {
                        line-height: 22px;
                        letter-spacing: -0.5px;
                    }
                }
            }

        }
    }
}
