@charset 'UTF-8';
@import "../utility/*";

.policy {
    .cmn_download {
        display: none;
    }
    .inner {
        width: 870px;
        margin: 0 auto;
        padding: 0 25px;
        @include max-screen(767px) {
            width: 100%;
        }
    }
    .content p {
        font-size: 14px;
        @include max-screen(767px) {
            font-size: 15px;
            letter-spacing: -0.5px;
        }
    }
    .content {
        margin: 50px auto 100px;
        @include max-screen(767px) {
            margin: 30px auto 60px;
        }
        &__title {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.5px;
            background: #efefef;
            padding: 27px 40px 25px;
            margin-bottom: 87px;
            @include max-screen(767px) {
                padding: 15px 20px;
                margin-bottom: 25px;
                line-height: 23px;
                font-size: 15px;
            }
        }
        &__info {
            li {
                margin-top: 43px;
                @include max-screen(767px) {
                    margin-top: 25px;
                }
                h4 {
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 10px;
                    @include max-screen(767px) {
                        font-size: 17px;
                        margin-bottom: 7px;
                    }
                }
                .note {
                    margin-top: 15px;
                    @include max-screen(767px) {
                        margin-top: 5px;
                    }
                    p {
                        margin-bottom: 5px;
                        white-space: nowrap;
                        @include max-screen(767px) {
                            white-space: normal;
                            margin-bottom: 0;
                        }
                    }
                }
                .spec {
                    white-space: nowrap;
                    @include max-screen(767px) {
                        white-space: normal;
                    }
                }
            }
        }
    }
}
