@charset 'UTF-8';
@import "../utility/*";

.top {

  &__mainimg {
    position: relative;
    background: $blue;

    &--bg {
      @include aspect-ratio(1400,550);

      .thumb {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &--title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 50%;
      @include transform_c(translateY(-50%));
      margin: 0 auto;
      width: 526px;
      height: 313px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
  &__philosophy {
    background: $green;
    color: #fff;
    padding: 75px 0 69px;
    position: relative;
    overflow: hidden;
    margin-bottom: 97px;

    &--bg {
      display: block;
      position: absolute;
      width: 46.29%;
      bottom: 38px;
      right: 0;
      backface-visibility: hidden;
    }
    &--title {
      text-align: center;
      font-size: 20px;
      @include avenir;
      letter-spacing: 3.7px;
      margin-bottom: 68px;
    }
    &--content {
      width: 51%;

      p {
        font-size: 14px;
        line-height: 2.2;
        letter-spacing: 0.7px;
        margin-bottom: 43px;
      }
      .cmn_btn {
        background: none;
        border: 1px solid #fff;
        color: #fff;
        max-width: 261px;
        height: 56px;
        padding: 19px 0 0 34px;
        text-align: left;
        letter-spacing: 1.1px;

        &::before {
          right: 29px;
          background-image: url(../../img/common/icon/ico_ar_right_white.svg);
        }
      }
    }
  }
  &__news {
    margin-bottom: 200px;

    &--inner {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    &--left {
      width: 183px;
      @include avenir;

      .title {
        font-size: 30px;
        text-transform: uppercase;
        color: $blue;
        letter-spacing: 6px;
        margin-bottom: 29px;
      }
      .more {
        width: 86px;
        display: block;
        position: relative;
        font-size: 16px;
        color: #3f3b3a;
        margin-left: 1px;
        padding: 0 0 3px 2px;
        letter-spacing: 0.3px;

        &::before,&::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          background: #3f3b3a;
          height: 1px;
        }
        &::before {
          width: 100%;
          bottom: 0;
        }
        &::after {
          width: 10px;
          @include transform_c(rotate(40deg));
          bottom: 3px;
          right: -1px;
        }
      }
    }
    &--list {
      width: calc(100% - 183px);
      padding: 2px 0 0 2px;
      height: 393px;

      .os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
        background: rgba(0,0,0,.3);
      }
      .bl_scroll {
        height: 100%;
        margin-right: -10px;
        padding-right: 20px;
      }
      ul {

        li {
          border-bottom: 1px solid #9fa0a0;
          padding-bottom: 24px;
          margin-bottom: 29px;

          &:last-child {
            margin-bottom: 0;
          }
          a {
            display: block;
          }
          .content {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 42px;
              height: 42px;
              position: absolute;
              top: 50%;
              margin-top: -24px;
              right: 0;
              border: 2px solid #3f3b3a;
              @include border-radius(50%);
              background: url(../../img/common/icon/ico_ar_right_more.svg) no-repeat top 14px center;
              background-size: 20px 6px;
            }
            .thumb {
              width: 80px;
              height: 80px;
              @include border-radius(50%);
              overflow: hidden;
            }
            .txt {
              width: calc(100% - 80px);
              // padding: 0 50px 0 32px;
              padding-right: 50px;

              span {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                letter-spacing: 0.3px;
              }
              .title {
                max-width: 540px;
                margin-top: 9px;
                line-height: 1.65;
                letter-spacing: 0.65px;
              }
            }
          }
        }
      }
    }
  }
  &__service {
    text-align: center;
    margin-bottom: 100px;

    &--title {
      color: $blue;
      margin-bottom: 33px;

      .title_en {
       font-size: 20px;
       text-transform: uppercase;
       @include avenir;
       margin-bottom: 9px;
       letter-spacing: 6px;

       span {
         color: #ce141c;
       }
      }
      .title_jp {
        font-weight: bold;
        font-size: 26px;
        letter-spacing: 2.6px;
      }
    }
    &--list {

      li {
        margin-bottom: 4px;

        .content {
          background: #dfe5ee;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          overflow: hidden;

          .txt {
            width: 31.71%;
            padding-right: 23px;
            padding-left: 15px;

            .box {
              max-width: 320px;
              float: right;
              position: relative;
              top: -11px;

              .title {
                font-weight: bold;
                position: relative;
                font-size: 28px;
                border-bottom: 2px solid #fff;
                padding: 80px 0 13px;
                margin-bottom: 22px;

                &::before {
                  content: "";
                  display: block;
                  background-repeat: no-repeat;
                  background-position: top left;
                  background-size: 100% 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                }
                &.point01::before {
                  background-image: url(../../img/top/ico_top01.svg);
                  width: 60px;
                  height: 57px;
                }
                &.point02::before {
                  background-image: url(../../img/top/ico_top02.svg);
                  width: 62px;
                  height: 49px;
                }
                &.point03::before {
                  background-image: url(../../img/top/ico_top03.svg);
                  width: 61px;
                  height: 58px;
                }
              }
              .desc {
                line-height: 1.9;
                letter-spacing: 0.8px;
                margin-bottom: 27px;
              }
              .cmn_btn {
                margin: 0 auto;

                &::before {
                  right: 29px;
                }
                span {
                  left: -10px;
                  letter-spacing: 1.1px;
                }
              }
            }
          }
          .img {
            width: 68.29%;
            height: 578px;
            position: relative;

            .thumb {
              height: 100%;
            }
            .c-bg {
              width: 76px;
              position: absolute;
              left: 0;
              top: 0;

              .arr {
                height: 100%;

                &::after {
                  @include gradient(top left,#dfe5ee);
                }
              }
            }
          }
        }
        &:nth-child(2n+2) {

          .content {
            background: #d9eaef;

            .txt {
              order: 2;
              padding-right: 15px;
              padding-left: 24px;

              .box {
                float: left;
              }
            }
            .img {
              order: 1;

              .c-bg {
                left: auto;
                right: 0;

                .arr {

                  &::after {
                    @include gradient(top right,#d9eaef);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include max-screen(767px) {

    &__mainimg {

      &--bg {
        @include aspect-ratio(375,500);
      }
      &--title {
        width: 260px;
        height: auto;
        left: -10px;
        top: 53%;

        img {
          height: auto;
        }
      }
      &--ico {
        width: 100px;
        height: 94px;
        position: absolute;
        bottom: 49px;
        right: 39px;
      }
    }
    &__philosophy {
      padding: 52px 0 237px;
      margin-bottom: 46px;

      &--bg {
        width: 99%;
        max-width: 371px;
        bottom: 71px;
      }
      &--title {
        font-size: 18px;
        letter-spacing: 2.2px;
        margin-bottom: 27px;
      }
      &--content {
        width: 100%;
        padding: 0 20px;

        p {
          line-height: 1.6;
          letter-spacing: 0px;
          margin-bottom: 41px;
        }
        .cmn_btn {
          max-width: 215px;
          height: 46px;
          margin: 0 auto;
          padding: 14px 0 0 25px;
          letter-spacing: -0.8px;

          &::before {
            width: 15px;
            height: 6px;
            right: 24px;
            margin-top: -5px;
          }
        }
      }
    }
    &__news {
      margin-bottom: 81px;

      &--inner {
        padding-left: 40px;
        padding-right: 40px;
      }
      &--left,&--list {
        width: 100%;
      }
      &--left {
        margin-bottom: 26px;

        .title {
          font-size: 30px;
          letter-spacing: 5px;
          margin-bottom: 18px;
        }
        .more {
          font-size: 14px;
          width: 77px;
          padding: 0 0 5px 0;
          letter-spacing: 0.7px;
        }
      }
      &--list {
        padding: 0;
        height: 346px;

        .bl_scroll {
          padding-right: 10px;
        }
        ul {

          li {
            padding-bottom: 13px;
            margin-bottom: 17px;

            .content {
              align-items: center;

              &::before {
                display: none;
              }
              .thumb {
                width: 70px;
                height: 70px;
              }
              .txt {
                width: calc(100% - 70px);
                // padding: 0 0 0 24px;
                padding: 0;

                span {
                  letter-spacing: 0.5px;

                  em {
                    margin: 0 -3px 0 1px;
                    display: inline-block;
                  }
                }
                .title {
                  font-size: 14px;
                  line-height: 1.6;
                  margin-top: -1px;
                }
              }
            }
          }
        }
      }
    }
    &__service {
      margin-bottom: 50px;

      &--title {
        margin-bottom: 23px;

        .title_en {
          font-size: 14px;
          letter-spacing: 4.2px;
          margin-bottom: 5px;
        }
        .title_jp {
          font-size: 26px;
          line-height: 1.4;
          letter-spacing: 0px;
        }
      }
      &--list {

        li {
          margin-bottom: 1px;

          .content {

            .img {
              width: 49.9%;
              height: 403px;

              .c-bg {
                width: 15px;
                height: 100%;
              }
            }
            .txt {
              width: 50.1%;
              padding-right: 12px;
              padding-left: 20px;

              .box {
                top: 0;

                .title,.desc {
                  margin-right: -7px;
                }
                .title {
                  font-size: 18px;
                  padding: 36px 0 8px;
                  border-bottom-width: 1px;
                  margin-bottom: 10px;

                  &.point01::before {
                    width: 30px;
                    height: 29px;
                  }
                  &.point02::before {
                    width: 36px;
                    height: 28px;
                  }
                  &.point03::before {
                    width: 31px;
                    height: 29px;
                  }
                  span {
                    display: block;
                    margin: 0 -10px;
                  }
                }
                .desc {
                  font-size: 14px;
                  letter-spacing: 0px;
                  text-align: left;
                  line-height: 1.6;
                  margin-bottom: 11px;
                }
                .cmn_btn {
                  max-width: 157px;

                  &::before {
                    right: 19px;
                  }
                  span {
                    left: -14px;
                    letter-spacing: 0.8px;
                  }
                }
              }
            }
          }
          &:nth-child(2) .content {

            .img {
              width: 48%;
            }
            .txt {
              width: 52%;
              padding-right: 25px;
              padding-left: 13px;
            }
          }
        }
      }
    }
  }
  @include max-screen(374px) {

    &__service--list li .content .txt .box {

      .title {
        font-size: 16px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }
}
