@charset "UTF-8";
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 0 0 30px 30px;

  @include max-screen(767px) {
    margin: 0 0 15px 15px;
  }
}

.alignleft {
  float: left;
  margin: 0 30px 30px 0;

  @include max-screen(767px) {
    margin: 0 15px 15px 0;
  }
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

// CUSTOM

.leftCol {
  width:70%;
  float:left;
}
.rightCol {
  width:30%;
  float:right;
}

.cmsContent {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-wrap: break-word;
  @include clearfix();

  ul,ol {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  ul {
    &[style*="list-style-type: circle;"] {
      li {
        list-style-type: circle;
      }
    }
    &[style*="list-style-type: square;"] {
      li {
        list-style-type: square;
      }
    }
    li {
      list-style: disc;
    }
  }
  ol {
    &[style*="list-style-type: lower-roman;"] {
      li {
        list-style-type: lower-roman;
      }
    }
    &[style*="list-style-type: lower-alpha;"] {
      li {
        list-style-type: lower-alpha;
      }
    }
    &[style*="list-style-type: lower-greek;"] {
      li {
        list-style-type: lower-greek;
      }
    }
    &[style*="list-style-type: upper-alpha;"] {
      li {
        list-style-type: upper-alpha;
      }
    }
    &[style*="list-style-type: upper-roman;"] {
      li {
        list-style-type: upper-roman;
      }
    }
    li {
      list-style-type: decimal;
    }
  }
  iframe {max-width: 100%!important;}
  img{
    max-width:100%;
    height:auto;
    max-height:100%;
    width: auto;
  }
  i,em {
    font-style: italic;
  }
  * {

    &:last-child {
      margin-bottom: 0;
    }
  }
  font-size: 15px;

  h2,h3,h4 {
    font-weight: bold;
  }
  h2 {
    font-size: 22px;
    border-bottom: 3px solid $colortext;
    letter-spacing: 0.7px;
    padding-bottom: 8px;
    margin-bottom: 35px;
  }
  h3 {
    font-size: 20px;
    background: #fff;
    padding: 15px 20px;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
  }
  h4 {
    font-size: 18px;
    padding: 0 5px 0 17px;
    letter-spacing: 0.55px;
    line-height: 30px;
    margin-bottom: 24px;
    position: relative;
    padding-left: 20px;
    &:before{
      content: "";
      width: 3px ;
      height: calc(100% - 8px);
      background: $colortext;
      position: absolute;
      left: 0;
      top: 3px;

    }
  }
  p {
    line-height: 2;
    margin-bottom: 15px;

    &.has_img {
      margin-bottom: 0;

      img {
        margin-bottom: 30px;
      }
      @include max-screen(767px) {

        img {
          margin-bottom: 15px;
        }
      }
    }
  }
  a {
    text-decoration: underline;
  }
  @include max-screen(767px) {

    p {
      font-size: 13px;
    }
    h2 {
      margin-bottom: 32px;
    }
    h3 {
      line-height: 1.5;
      padding: 16px 20px 18px;
      margin-bottom: 20px;
    }
    h4 {
      padding-left: 16px;
      margin-bottom: 16px;
    }
  }
}
