@charset 'UTF-8';

.cmn_hd {
  height: 300px;
  background: $blue;
  color: #fff;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blue;

    .thumb {
      height: 100%;
    }
  }
  &__title {
    text-align: center;
    position: relative;
    z-index: 2;
    top: -7px;
    width: 100%;

    &--en,&--jp {
      width: 100%;
      display: block;
    }
    &--en {
      @include din_alter;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      margin-bottom: 2px;
    }
    &--jp {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  @include max-screen(767px) {
    padding: 0;
    height: 300px;

    &__title {
      top: -4px;

      &--en {
        font-size: 8px;
        letter-spacing: 2.2px;
      }
      &--jp {
        font-size: 24px;
        letter-spacing: 1.5px;
        margin-top: 3px;
        letter-spacing: 0.5px;
      }
    }
  }
}

.breadcrumbs {
  font-size: 0;
  padding: 16px 0 13px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #b5b6b6;

  ul {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    li {
      display: inline;
      margin-right: 7px;
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 11px;
        display: block;
        background: url(../img/common/icon/ico_ar_right_gray.svg) no-repeat top left;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 0;
      }

      a {
        vertical-align: top;
        display: inline-block;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        color: inherit;
        @include transition_c(opacity .3s);
        padding-right: 19px;
      }
      span {
        color: $colortext;
      }
      &:first-child a {
        font-size: 0;
        width: 41px;
        height: 22px;
        padding: 0 18px 0 3px;
        position: relative;

        &::after {
          content: "";
          width: 20px;
          height: 21px;
          display: block;
          background: url(../img/common/icon/ico_home.svg) no-repeat top left;
          background-size: 100% 100%;
          position: absolute;
          top: 0;
          left: 3px;
        }
      }
      &:last-child {
        margin-right: 0;

        &::before {
          display: none;
        }
      }
    }
  }
  @include max-screen(767px) {
    padding: 10px 0;

    ul {
      font-size: 10px;

      li {
        margin-right: 7px;

        &::before {
          width: 6px;
          height: 11px;
          margin-top: -5px;
        }
        a {
          padding-right: 15px;
        }
        &:first-child a {
          padding: 0;
          height: 17px;
          width: 32px;

          &::after {
            width: 16px;
            height: 17px;
            left: 0;
          }
        }
      }
    }
  }
}

.c-bg{
  display: block;
  width:100%;

  .arr{
    display: block;
    @include aspect-ratio(76,578);

    &:after{
      box-sizing: border-box;
      content:"";position: absolute;
      width: 100%;height: 100%;
      display: block;
      top:0;left:0;
    }
  }
}

.cmn_btn {
  display: block;
  width: 100%;
  background: #fff;
  max-width: 260px;
  height: 55px;
  line-height: 1;
  @include border-radius(5px);
  text-align: center;
  font-weight: bold;
  color: $blue;
  position: relative;
  padding-top: 19px;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 8px;
    background: url(../img/common/icon/ico_ar_right_blue.svg) no-repeat top left;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    right: 18px;
    margin-top: -5px;
  }
  span {
    position: relative;
    display: block;
  }
  &.btn_border {
    border: 1px solid $blue;
  }
  @include max-screen(767px) {
    @include border-radius(3px);
    font-size: 14px;
    max-width: 200px;
    height: 41px;
    padding-top: 13px;

    &::before {
      width: 13px;
      height: 6px;
      margin-top: -5px;
      right: 12px;
    }
  }
  @include max-screen(374px) {
    font-size: 12px;
    padding-top: 15px;
  }
}

.cmn_download {
  margin-bottom: 100px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__txt {
    width: 500px;
    height: 360px;
    background: $blue;
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    padding-top: 101px;

    span {
      display: block;
      @include din_alter;
      text-transform: uppercase;
      font-size: 18px;
      padding-top: 62px;
      position: relative;
      letter-spacing: 1.8px;

      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 38px;
        background: url(../img/common/icon/ico_company.svg) no-repeat top left;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
      }
    }
    p {
      font-size: 22px;
      margin-top: 22px;
      line-height: 1.55;
    }
  }
  &__img {
    width: calc(100% - 500px);
    height: 537px;
    position: relative;
    padding-top: 57px;

    .thumb {
      width: calc(100% + 200px);
      height: calc(100% - 57px);
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .cmn_btn {
      position: absolute;
      height: 60px;
      bottom: 40px;
      right: 39px;
      padding: 22px 0 0 14px;

      span {
        padding-left: 47px;
        text-align: left;
        letter-spacing: 1.2px;

        &::before {
          content: "";
          display: block;
          width: 36px;
          height: 26px;
          background: url(../img/common/icon/ico_download.svg) no-repeat top left;
          background-size: 100% 100%;
          position: absolute;
          top: 50%;
          margin-top: -13px;
          left: 0;
        }
      }
    }
  }
  @include screen(768px,1023px) {

    &__img .thumb {
      min-width: 710px;
    }
  }
  @include max-screen(767px) {
    padding: 0 20px;
    margin-bottom: 29px;

    &__txt {
      width: 197px;
      height: 137px;
      padding-top: 22px;

      span {
        font-size: 10px;
        padding-top: 39px;

        &::before {
          width: 27px;
          height: 26px;
        }
      }
      p {
        font-size: 12px;
        margin-top: 9px;
        line-height: 1.45;
      }
    }
    &__img {
      width: calc(100% - 197px);
      padding-top: 28px;
      height: 269px;

      .thumb {
        width: calc(100% + 177px);
        height: calc(100% - 29px);
        background-position: bottom right -47px;
      }
      .cmn_btn {
        width: 174px;
        max-width: 174px;
        height: 30px;
        @include border-radius(3px);
        font-size: 12px;
        bottom: 12px;
        right: 10px;
        padding: 9px 0 0 10px;

        &::before {
          width: 9px;
          height: 4px;
          margin-top: -3px;
          right: 10px;
        }
        span {
          padding-left: 22px;
          letter-spacing: 0;

          &::before {
            width: 18px;
            height: 13px;
            margin-top: -6px;
          }
        }
      }
    }
  }
}

.cmn_service {
  text-align: center;
  color: $blue;
  margin: 0 auto 100px;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .thumb {
      height: 100%;
    }
  }
  &__content,&__inner {
    position: relative;
  }
  &__content {
    height: 816px;
  }
  &__inner {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  &__title {
    margin-bottom: 41px;

    .title_en {
     font-size: 20px;
     text-transform: uppercase;
     @include avenir;
     margin-bottom: 9px;
     letter-spacing: 6px;

     span {
       color: #ce141c;
     }
    }
    .title_jp {
      font-weight: bold;
      font-size: 26px;
      letter-spacing: 2.6px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 -30px 100px;

    li {
      height: 100%;
      padding: 0 30px;
      width: 33.33333%;

      .content {
        height: 100%;
        background: rgba(255,255,255,.9);
        @include border-radius(10px);
        padding: 43px 30px 52px;

        .title {
          font-weight: bold;
          position: relative;
          padding-top: 63px;
          font-size: 24px;
          margin-bottom: 11px;

          &::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top left;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          &.item01::before {
            background-image: url(../img/common/icon/ico_service01_blue.svg);
            width: 50px;
            height: 47px;
          }
          &.item02::before {
            background-image: url(../img/common/icon/ico_service02_blue.svg);
            width: 52px;
            height: 41px;
            top: 5px;
          }
          &.item03::before {
            background-image: url(../img/common/icon/ico_service03_blue.svg);
            width: 51px;
            height: 49px;
          }
        }
        .desc {
          font-size: 14px;
          letter-spacing: 0.7px;
          margin-bottom: 28px;
        }
        .cmn_btn {
          margin: 0 auto;
          background: none;

          &::before {
            right: 28px;
          }
          span {
            left: -10px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  @include screen(1024px,1135px) {

    &__list {
      margin-left: -20px;
      margin-right: -20px;

      li {
        padding: 0 20px;

        .content {

          .title {
            font-size: 20px;
          }
        }
      }
    }
  }
  @include max-screen(767px) {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 32px;

      .title_en {
        font-size: 14px;
        letter-spacing: 4.2px;
        margin-bottom: 5px;
      }
      .title_jp {
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0px;
      }
    }
    &__content {
      height: auto;
    }
    &__inner {
      align-items: flex-start;
      padding: 41px 20px 42px;
    }
    &__list {
      margin: 0 auto 0;
      align-items: flex-start;
      max-width: 295px;

      li {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
        .content {
          @include border-radius(5px);
          padding: 39px 31px 40px;

          .title {
            font-size: 18px;
            padding-top: 36px;
            margin-bottom: 9px;
            letter-spacing: 1.4px;

            &.item01::before {
              width: 30px;
              height: 29px;
            }
            &.item02::before {
              width: 36px;
              height: 28px;
              top: 0;
            }
            &.item03::before {
              width: 35px;
              height: 33px;
            }
          }
          .desc {
            text-align: left;
            margin-bottom: 15px;
          }
          .cmn_btn {
            max-width: 158px;

            &::before {
              right: 19px;
            }
            span {
              left: -13px;
              letter-spacing: 1.5px;
            }
          }
        }
      }
    }
  }
  @include max-screen(374px) {

    &__list li .content {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
