@charset 'UTF-8';

.contactBox {
  position: relative;
  color: #fff;
  padding: 49px 0 51px;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .thumb {
      height: 100%;
      background-position: bottom center;
    }
  }
  &__inner {
    position: relative;
  }
  &__title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    padding: 13px 0;
    margin-bottom: 25px;
  }
  &__desc {
    font-size: 14px;
    margin-bottom: 3px;
    letter-spacing: 0.3px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    &--left {
      width: 68%;
      padding-right: 29px;
    }
    &--right {
      width: 32%;
    }
  }
  &__tel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 35px;

    a,span {
      display: block;
    }
    a {
      position: relative;
      padding-left: 43px;

      &::before {
        content: "";
        display: block;
        width: 33px;
        height: 41px;
        background: url(../img/common/icon/ico_tel_white.svg) no-repeat top left;
        background-size: 100% 100%;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -20px;
      }
      img {
        display: block;
        width: 312px;
        height: 37px;
      }
    }
    span {
      position: relative;
      padding-left: 25px;
      margin-left: 32px;
      top: 3px;

      &::before {
        content: "";
        width: 1px;
        height: 46px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -25px;
        @include transform_c(rotate(45deg));
      }
    }
  }
  &__staff {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    li {
      width: 50%;
      padding: 0 10px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    font-size: 0;

    li {
      width: 50%;
      padding: 0 25px;

      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: #fff url(../img/common/icon/ico_ar_right_square_blue.svg) no-repeat center right 18px;
        background-size: 7px 13px;
        position: relative;
        height: 60px;
        line-height: 1;
        font-weight: bold;

        span {
          display: inline-block;
          vertical-align: top;
          font-size: 16px;
          position: relative;
        }
        &.btn_contact {
          justify-content: center;

          span {
            padding-left: 30px;

            &::before {
              content: "";
              display: block;
              width: 22px;
              height: 16px;
              background: url(../img/common/icon/ico_mail_blue.svg) no-repeat top left;
              background-size: 100% 100%;
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -8px;
            }
          }
        }
        &.btn_chatwork {
          padding-left: 15px;

          img {
            display: block;
            width: 118px;
            margin-right: 5px;
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
  @include max-screen(767px) {
    padding: 29px 0 31px;

    &__inner {
      max-width: 335px;
    }
    &__title {
      font-size: 14px;
      letter-spacing: 0px;
      padding: 5px 0 6px;
      margin-bottom: 18px;
    }
    &__desc {
      letter-spacing: 0;
      margin-bottom: 18px;
    }
    &__list {

      &--left,&--right {
        width: 100%;
        padding: 0;
      }
    }
    &__tel {
      padding: 0;
      display: block;
      text-align: center;
      margin-bottom: 13px;

      a {
        display: inline-block;
        vertical-align: top;
        padding-left: 24px;

        &::before {
          width: 20px;
          height: 25px;
          margin-top: -12px;
        }
        img {
          width: 197px;
          height: 23px;
        }
      }
      span {
        padding: 0;
        margin: 4px 0 0;
        font-size: 14px;
        top: 0;

        &::before {
          display: none;
        }
        em {
          margin-left: 4px;
          letter-spacing: 2.7px;
        }
      }
    }
    &__btns {
      margin: 0 auto 20px;
      max-width: 225px;

      li {
        width: 100%;
        margin-bottom: 9px;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }
        a {
          height: 46px;
          background-size: 5px 10px;
          background-position: center right 14px;

          span {
            font-size: 12px;
          }
          &.btn_contact span {
            padding-left: 24px;

            &::before {
              width: 17px;
              height: 12px;
              margin-top: -6px;
            }
          }
          &.btn_chatwork {
            padding-left: 12px;

            img {
              width: 89px;
              margin-right: 0;
            }
          }
        }
      }
    }
    &__staff {
      margin: 0 -7px;

      li {
        padding: 0 12px;

        img {
          max-width: 130px;
          margin: 0 auto;
        }
      }
    }
  }
}
.footer {
  overflow: hidden;
  padding: 47px 0 0;

  &__frame {
    position: relative;
  }
  &__gotop {
    display: block;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    background: $blue url(../img/common/icon/ico_gotop.svg) no-repeat top 15px center;
    background-size: 15px 8px;
    position: fixed;
    bottom: -40px;
    right: 28px;
    z-index: 9;

    &.show {
      bottom: 25px;
    }
    &.abs {
      position: absolute;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  &__left {
    width: 41.4%;
    position: relative;
    padding-right: 15px;

    &::before {
      content: "";
      display: block;
      width: 1px;
      height: calc(100% - 24px);
      position: absolute;
      top: 4px;
      right: 0;
      background: $blue;
    }
    &--desc {
      font-size: 12px;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
    }
    &--logo {
      display: block;
      width: 300px;
      height: 59px;
      margin-bottom: 20px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &--address {
      color: $blue;
      font-size: 14px;
      line-height: 1.45;

      strong {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        letter-spacing: 0.6px;
      }
      a {
        color: inherit;
      }
    }
  }
  &__right {
    width: 58.6%;
    color: $blue;
    padding: 4px 0 0 80px;

    &--title {
      @include din_alter;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1.8px;
      position: relative;
      margin-bottom: 31px;

      &::before {
        content: "";
        width: 100vw;
        height: 1px;
        background: $blue;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
      }
      span {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background: #fff;
        padding-right: 10px;
      }
    }
    &--menu {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -23px;

      li {
        padding: 0 23px;

        &.fw {
          width: 100%;

          a {
            margin-bottom: 23px;
          }
        }
        a {
          display: block;
          font-size: 14px;
          color: inherit;
          position: relative;
          padding-left: 12px;
          letter-spacing: 0.4px;
          margin-bottom: 19px;

          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 6px solid $blue;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -5px;
          }
        }
        @include min-screen(768px) {

          &:nth-child(3) {
            padding-right: 17px;
          }
        }
      }
    }
  }
  &__copyright {
    border-top: 1px solid $blue;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    padding: 29px 15px;
  }
  @include max-screen(767px) {
    padding-top: 45px;

    &__gotop {
      right: 20px;

      &.show {
        bottom: 15px;
      }
    }
    &__left,&__right {
      width: 100%;
      padding: 0;
    }
    &__left {
      margin-bottom: 34px;

      &::before {
        display: none;
      }
      &--desc {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0;
        margin-bottom: 14px;
      }
      &--logo {
        width: 100%;
        max-width: 335px;
        height: auto;
        margin-bottom: 15px;
      }
      &--address {
        line-height: 1.55;

        strong {
          font-size: 20px;
          margin-bottom: 1px;
          letter-spacing: 0;
        }
      }
    }
    &__right {

      &--title {
        font-size: 20px;
        overflow: hidden;
        margin-bottom: 14px;

        span {
          padding-right: 5px;
          letter-spacing: 3.7px;
        }
      }
      &--menu {

        li {
          width: 100%;

          a {
            padding-left: 14px;
            letter-spacing: 1.4px;
            margin-bottom: 10px !important;

            &::before {
              border-top-width: 7px;
              border-bottom-width: 7px;
              border-left-width: 12px;
              margin-top: -7px;
            }
          }
        }
      }
    }
    &__copyright {
      margin-top: 24px;
      font-size: 10px;
      padding: 17px 15px;
      letter-spacing: 0.4px;
    }
  }
}
