@charset 'UTF-8';

.header {

  &__main {
    width: 100%;
    height: 90px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    font-weight: bold;
    padding-left: 100px;
    transition: box-shadow .3s, padding-left .3s;
    backface-visibility: hidden;

    &,&--right,&--menu,&--btns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &--logo {
      display: block;
      width: 240px;
      height: 47px;
      position: relative;
      top: -1px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &--right {
      width: calc(100% - 240px);
      justify-content: flex-end;
    }
    &--menu {
      width: calc(100% - 435px);
      justify-content: space-between;
      max-width: 559px;
      padding: 7px 41px 0 0;


      li {
        padding: 0 10px;

        a {
          display: block;
          opacity: 1 !important;

          span {
            position: relative;
            display: block;
            padding-bottom: 7px;
            letter-spacing: 0.5px;

            &::before {
              content: "";
              width: 0%;
              height: 2px;
              background: $blue;
              position: absolute;
              bottom: 0;
              left: 0;
              @include transition_c(width .3s);
            }
          }
          &.active span::before {
            width: 100%;
          }
          @include PC {

            &:hover span::before {
              width: 100%;
            }
          }
        }
      }
    }
    &--btns {
      width: 435px;

      li {
        width: 33.33333%;
        border-right: 1px solid #fff;

        &:last-child {
          border: 0;
        }
        a {
          display: block;
          height: 90px;
          background: $blue;
          color: #fff;
          position: relative;
          text-align: center;
          padding-top: 41px;

          &::before {
            content: "";
            display: block;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: top left;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 18px;
          }
          small,span {
            display: block;
          }
          small {
            @include din_alter;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 7px;
          }
          span {
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 1.3;
          }
          &.btn_service::before {
            background-image: url(../img/common/icon/ico_search.svg);
            width: 16px;
            height: 16px;
          }
          &.btn_contact::before {
            background-image: url(../img/common/icon/ico_mail.svg);
            width: 16px;
            height: 11px;
          }
          &.btn_consultation::before {
            background-image: url(../img/common/icon/ico_comment.svg);
            width: 16px;
            height: 15px;
          }
        }
      }
    }
    &--dropdown {
      z-index: 99;
      width: 100%;
      background: #fff;
      position: fixed;
      top: 90px;
      right: 0;
      max-width: 940px;
      padding: 21px 69px 11px 20px;
      display: none;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,.16);

      .btn_close {
        display: block;
        position: absolute;
        top: 21px;
        right: 16px;
        @include din_alter;
        color: $blue;
        text-transform: uppercase;
        text-align: center;
        width: 35px;
        padding-top: 33px;
        font-size: 10px;
        letter-spacing: 1px;

        &::before {
          content: "";
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: url(../img/common/icon/ico_close_blue.svg) no-repeat top left;
          background-size: 100% 100%;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px;

        li {
          width: 33.33333%;
          padding: 0 25px;

          a {
            display: block;
          }
          img {
            display: block;
            width: 100%;
            margin-bottom: 3px;
          }
          p {
            color: $blue;
            font-size: 20px;
            font-weight: bold;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 26px;
              height: 8px;
              background: url(../img/common/icon/ico_ar_right_blue_long.svg) no-repeat top left;
              background-size: 100% 100%;
              position: absolute;
              right: 18px;
              top: 50%;
              margin-top: -6px;
            }
          }
        }
      }
    }
  }
  &.fixed,&.dropdown_opened {

    .header__main {
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,.16);
    }
  }
  @include screen(1024px,1399px) {

    &__main {
      padding-left: 20px;
    }
  }
  @include screen(1024px,1279px) {

    &__main {

      &--logo {
        width: 180px;
        height: 35px;
      }
      &--right {
        width: calc(100% - 180px);
      }
      &--menu {
        width: calc(100% - 320px);
        padding-right: 25px;
        max-width: 465px;

        li {

          a {
            font-size: 14px;
          }
        }
      }
      &--btns {
        width: 320px;

        li {

          a {

            small {
              margin-bottom: 3px;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  @include max-screen(1023px) {

    &__main {
      height: 80px;
      padding-left: 20px;

      &--logo {
        width: 163px;
        height: 32px;
        top: 0;
      }
      &--right {
        display: none;
      }
      &--menusp {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 72px;
        height: 100%;

        .lines {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 24px;
          left: 0;
          right: 0;
          margin: 0 auto;

          &,span {
            @include transition_c(all .3s);
            backface-visibility: hidden;
          }
          span {
            display: block;
            position: absolute;
            background: $blue;
            width: 100%;
            height: 5px;
            left: 0;

            &:first-child {
              top: 0;
            }
            &:nth-child(2) {
              top: 14px;
            }
            &:nth-child(3) {
              top: 28px;
            }
          }
        }
      }
    }
    &__menusp {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      overflow: auto;
      @include transition_c(all .3s);
      @include transform_c(translateY(-50px));
      backface-visibility: hidden;

      &--inner {
        padding: 80px 0;
      }
      &--list {
        border-top: 1px solid #0b5baa;

        > li {

          a {
            display: block;
            font-weight: bold;
            font-size: 18px;
            color: $blue;
            padding: 6px 36px;
            border-bottom: 1px solid #0b5baa;

            span {
              display: block;
              position: relative;
              color: inherit;
            }
            &.btn_blue {
              background: $blue;
              color: #fff;
              border-bottom-color: #fff;

              > span {
                padding-left: 35px;

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  background-repeat: no-repeat;
                  background-size: 100% 100%;
                  background-position: top left;
                }
              }
            }
            &.btn_service span::before {
              background-image: url(../img/common/icon/ico_search.svg);
              width: 23px;
              height: 23px;
              margin-top: -12px;
            }
            &.btn_contact span::before {
              background-image: url(../img/common/icon/ico_mail.svg);
              width: 23px;
              height: 17px;
              margin-top: -9px;
            }
            &.btn_consultation span::before {
              background-image: url(../img/common/icon/ico_comment.svg);
              width: 23px;
              height: 22px;
              margin-top: -11px;
            }
          }
          .sub {
            display: none;
          }
        }
        li:last-child a {
          border-bottom: 0;
        }
      }
    }
    &.menu_opened {

      .header {

        &__main {
          box-shadow: none;
          padding-left: 35px;

          &--menusp {

            .lines {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);

              span {

                &:first-child {
                  -webkit-transform: translateY(14px) rotate(-45deg);
                  transform: translateY(14px) rotate(-45deg);
                }
                &:nth-child(2) {
                  -webkit-transform: translateY(0) rotate(45deg);
                  transform: translateY(0) rotate(45deg);
                  width: 100%;
                }
                &:nth-child(3) {
                  opacity: 0;
                }
              }
            }
          }
        }
        &__menusp {
          z-index: 999998;
          opacity: 1;
          visibility: visible;
          @include transform_c(translateY(0));
        }
      }
    }
  }
  @include max-screen(374px) {

    &.menu_opened .header__main {
      padding-left: 20px;
    }
    &__menusp--list>li a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include min-screen(1024px) {

    &__menusp {
      display: none !important;
    }
  }
}
